.nav {
  margin: 0 auto;
  font-size: 0.75rem;
  background: black;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  width: fit-content;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
