body {
  margin: 0;
  font-family: 'Racing-Sans-One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 1em;
  border: black solid 2px;
  border-radius: 7px;
  width: fit-content;
}
label {
  font-weight: 700;
}
input {
  margin: 0.5em;
}
